{{extend 'layout.html'}}

<style>
    th, td {
        padding: 10px;}
    th {
        border-bottom: 2px solid #111111;
        border-top: 1px solid #999;}
    tr.even {
        background-color: #efefef;}
    tr:hover {
        background-color: #c3e6e5;}
</style>

<h2>{{=host1}}</h2>

<h3>form1.vars</h3>
<pre>{{=form1.vars}}</pre>
{{=form1}}

{{if msg1:}}
    <h3> Deleted Images </h3>
    {{for msg in msg1:}}
        {{=msg}} <br>
    {{pass}}
{{pass}}


<h2>{{=host2}}</h2>

<h3>form2.vars</h3>
<pre>{{=form2.vars}}</pre>
{{=form2}}

{{if msg2:}}
    <h3> Deleted Images </h3>
    {{for msg in msg2:}}
        {{=msg}} <br>
    {{pass}}
{{pass}}